@typeparam TValue
@inherits InputSelect<TValue>

<AppInputWrapper Class="@CssClass">
    <select @attributes="AdditionalAttributes"
            id="@Id"
            class="app-input__control"
            disabled="@Disabled"
            value="@CurrentValueAsString"
            @onchange="HandleChange">
        @if (!string.IsNullOrWhiteSpace(Placeholder))
        {
            <option value="">@Placeholder</option>
        }

        @if (Items is not null)
        {
            @foreach (var item in Items)
            {
                <option value="@FormatValue(item)">@FormatLabel(item)</option>
            }
        }

        @ChildContent
    </select>
</AppInputWrapper>

@code {
    [Parameter]
    public string Id { get; set; } = string.Empty;

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public string? Class { get; set; }

    [Parameter]
    public string? Placeholder { get; set; }

    [Parameter]
    public IEnumerable<TValue>? Items { get; set; }

    [Parameter]
    public Func<TValue, string>? ItemLabel { get; set; }

    [Parameter]
    public Func<TValue, string>? ItemValue { get; set; }

    private void HandleChange(ChangeEventArgs args)
    {
        CurrentValueAsString = args.Value?.ToString();
    }

    private string? FormatLabel(TValue item)
    {
        return ItemLabel?.Invoke(item) ?? item?.ToString();
    }

    private string? FormatValue(TValue item)
    {
        return ItemValue?.Invoke(item) ?? item?.ToString();
    }
}
